@tailwind base;
@tailwind components;
@tailwind utilities;
/* font.css */

@font-face {
    font-family: 'TTCommons-Medium';
    src: local('TTCommons-Medium'), url('./Font/TT Commons Medium.otf') format('woff2');
    /* Add additional font formats if necessary */
  }
body
{
    font-family: 'TTCommons-Medium';
}
  
  /* Frontend\src\Font\TT Commons Medium.otf */
.app
{
    background-image: url('./assets/background.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: repeat;
}
.app2
{
    background-image: url('./assets/bg.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: repeat;
}
.home
{
    background-image: url('./assets/background2.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: repeat;
}
.border-zero:focus
{
 border: 0px;
}
